Repository DenisGorbachev/vscode-lean4-code-actions: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-markdown-text, typecheck

lint-code:
  run: yarn lint:code {staged_files}

lint-markdown-text:
  run: yarn lint:markdown:text {staged_files} && git update-index -g

typecheck:
  run: yarn typecheck

Fix autoImport
  src/commands/autoImport.ts
Due: lint-code, typecheck

1.1.26
  package.json
Due: none

Fix snippets & autoImport
  src/commands/autoImport.ts
  src/extension.ts
  src/models/FileInfo.ts
  src/utils/Lean.ts
Due: lint-code, typecheck

1.1.27
  package.json
Due: none

aider: Added /Users/starfall/workspace/vscode-lean4-code-actions/package.json
  .gitignore
Due: none

aider: Added a new user configuration variable "defaultLib" with a default value of an empty string in package.json.
  package.json
Due: none

aider: Added /Users/starfall/workspace/vscode-lean4-code-actions/README.md
  package.json
Due: none

aider: Add information about new `defaultLib` configuration variable in `README.md`.
  README.md
Due: lint-markdown-text

aider: Update the description of `lean4CodeActions.defaultLib` in `README.md`.
  README.md
Due: lint-markdown-text

aider: Updated the documentation about the `defaultLib` configuration variable in the `README.md` file.
  README.md
Due: lint-markdown-text

aider: Added /Users/starfall/workspace/vscode-lean4-code-actions/src/commands/createNewFile.ts
  README.md
Due: lint-markdown-text

aider: Added /Users/starfall/workspace/vscode-lean4-code-actions/src/models/FileInfo.ts
  src/commands/createFreewriteFile.ts
  src/commands/createNewFile.ts
  src/commands/createNewFileSet.ts
  src/models/FileInfo.ts
  src/utils/WorkspaceConfiguration/CreateFileConfig.ts
Due: lint-code, typecheck

aider: Add function `createFileInfo` after `interface FileInfo` to return a `FileInfo` object with specified fields.
  src/models/FileInfo.ts
Due: lint-code, typecheck

aider: Replace direct object creation with a call to the `createFileInfo` function in `src/commands/createFreewriteFile.ts`.
  src/commands/createFreewriteFile.ts
Due: lint-code, typecheck

aider: Added /Users/starfall/workspace/vscode-lean4-code-actions/src/commands/renameDeclaration.ts
  TODO.md
  src/commands/createFreewriteFile.ts
  src/commands/createNewFile.ts
  src/commands/renameDeclaration.ts
  src/commands/setArgumentStyle.ts
  src/extension.ts
  src/listeners/onDidRenameFiles.ts
  src/models/FileInfo.ts
  src/models/Filename.ts
  src/utils/Lean.ts
  src/utils/Lean/SnippetString.ts
  src/utils/WorkspaceConfiguration/withImportsOpensDerivings.ts
  src/utils/path.ts
  tsconfig.json
Due: lint-code, lint-markdown-text, typecheck

aider: Added /Users/starfall/workspace/vscode-lean4-code-actions/src/commands/renameDeclaration.ts
  src/commands/renameDeclaration.ts
Due: lint-code, typecheck

aider: Implemented `findReplace` function to replace all occurrences of a string with another string in a document.
  src/commands/renameDeclaration.ts
Due: lint-code, typecheck

aider: Added /Users/starfall/workspace/vscode-lean4-code-actions/src/extension.ts
  src/commands/renameDeclaration.ts
Due: lint-code, typecheck

aider: Include `renameDeclaration` command in `src/extension.ts`.
  src/extension.ts
Due: lint-code, typecheck

Implement renameDefinition
  package.json
  src/commands/renameDefinition.ts
  src/extension.ts
Due: lint-code, typecheck

1.1.28
  package.json
Due: none

Move IterableIterator functions
  src/providers/providerRenameEdits.ts
  src/utils/IterableIterator.ts
  src/utils/TextEditor.ts
Due: lint-code, typecheck

1.1.29
  package.json
Due: none

Refactor getUntilParse
  src/commands/createNewFile.ts
  src/commands/renameDefinition.ts
Due: lint-code, typecheck

1.1.30
  package.json
Due: none

1.1.31
  package.json
Due: none

add .lake as excluded directory
  src/constants.ts
Due: lint-code, typecheck

v1.1.32
  package.json
Due: none

Path conditions:
  lint-code: any of: *.{ts,tsx,js,jsx}
  lint-markdown-text: any of: *.md
  typecheck: any of: *.{ts,tsx}
