Repository DenisGorbachev/vscode-lean4-code-actions: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-markdown-text, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-code:
      glob: "*.{ts,tsx,js,jsx}"
      run: yarn lint:code {staged_files}
    lint-markdown-text:
      glob: "*.md"
      run: yarn lint:markdown:text {staged_files} && git update-index -g
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn typecheck
    test:
      run: yarn test --passWithNoTests

Add eslint
  .eslintrc.ci.cjs
  .eslintrc.cjs
  jest.config.mjs
  jest.setup.js
  jest.setupAfterEnv.js
  package.json
  src/commands/autoImport.ts
  src/commands/convertTextToList.ts
  src/commands/createNewType.ts
  src/commands/moveDefinitionToNewFile.ts
  src/commands/renameLocalVariable.ts
  src/extension.ts
  src/models/NewTypeKeyword.ts
  src/test/runTest.ts
  src/utils/IterableIterator.ts
  src/utils/LeanExtension.ts
  src/utils/TextDocument.ts
  src/utils/lean.ts
  src/utils/string.ts
  src/utils/text.ts
  src/utils/todo.ts
  yarn.lock
Due: lint-code, typecheck

Implement createNewTypeFile
  .markdownlint.json
  README.md
  package.json
  src/commands/createFreewriteFile.ts
  src/commands/createNewType.ts
  src/commands/createNewTypeFile.ts
  src/commands/extractDefinitionToSeparateFile.ts
  src/commands/renameLocalVariable.ts
  src/extension.ts
  src/models/Lean/HieroName.ts
  src/models/Lean/SyntaxNodes.ts
  src/models/NewTypeKeyword.ts
  src/utils/Uri.ts
  src/utils/WorkspaceEdit.ts
  src/utils/WorkspaceFolder.ts
  src/utils/lean.ts
  src/utils/string.ts
  src/utils/todo.ts
  src/utils/workspace.ts
  yarn.lock
Due: lint-code, lint-markdown-text, typecheck

Fix package.json
  package.json
Due: none

1.1.0
  package.json
Due: none

Add icon
  img/icon.128x128.png
  img/icon.770x770.png
  img/icon.svg
  new-icon.svg
  package.json
Due: none

1.1.1
  package.json
Due: none

Fix icon
  img/icon.128x128.png
  img/icon.770x770.png
  img/icon.svg
Due: none

1.1.2
  package.json
Due: none

Update README
  README.md
Due: lint-markdown-text

1.1.3
  package.json
Due: none

Update README
  README.md
  img/autoImport.gif
  src/commands/autoImport.ts
  src/utils/Position.ts
Due: lint-code, lint-markdown-text, typecheck

1.1.4
  package.json
Due: none

Update README
  README.md
  new-icon.svg
Due: lint-markdown-text

1.1.5
  package.json
Due: none

Update README
  1%.*.gif
  README.md
  img/extractDefinitionToSeparateFile.gif
  src/commands/createNewTypeFile.ts
  src/commands/extractDefinitionToSeparateFile.ts
  src/utils/text.ts
Due: lint-code, lint-markdown-text, typecheck

Update README
  1%.*.gif
Due: none

1.1.6
  package.json
Due: none

Fix createNewFile
  README.md
  package.json
  src/commands/createNewFile.ts
  src/commands/extractDefinitionToSeparateFile.ts
  src/extension.ts
  src/models/NewTypeKeyword.ts
  src/utils/text.ts
Due: lint-code, lint-markdown-text, typecheck

1.1.7
  package.json
Due: none

Update README
  .eslintrc.json
  README.md
  img/createNewFile.gif
  package.json
  src/commands/createNewFile.ts
Due: lint-code, lint-markdown-text, typecheck

Update README
  README.md
  img/convertTextToList.gif
  img/rename.gif
Due: lint-markdown-text

1.1.8
  package.json
Due: none

Fix renameLocalVariable
  src/commands/autoImport.ts
  src/commands/renameLocalVariable.ts
  src/utils/string.ts
Due: lint-code, typecheck

1.1.9
  package.json
Due: none

Move specs to GitHub issues
  README.md
  doc/MoveDefinition.md
  doc/index.md
Due: lint-markdown-text

Fix autoImport
  src/commands/autoImport.ts
  src/utils/Lean/Lsp/WorkspaceSymbol.ts
  src/utils/TextEditor.ts
  src/utils/Uri.ts
  src/utils/lean.ts
  src/utils/path.ts
Due: lint-code, typecheck

Fix snippets
  src/commands/autoImport.ts
  src/commands/createNewFile.ts
  src/commands/extractDefinitionToSeparateFile.ts
  src/extension.ts
  src/models/Lean/SyntaxNodes.ts
  src/utils/Lean/Lsp/WorkspaceSymbol.ts
  src/utils/Lean/SnippetString.ts
  src/utils/SnippetString.ts
  src/utils/command.ts
  src/utils/lean.ts
Due: lint-code, typecheck

Improve README
  README.md
  src/extension.ts
  src/utils/lean.ts
Due: lint-code, lint-markdown-text, typecheck
