Repository DenisGorbachev/vscode-lean4-code-actions: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-markdown-text, typecheck

lint-code:
  run: yarn lint:code {staged_files}

lint-markdown-text:
  run: yarn lint:markdown:text {staged_files} && git update-index -g

typecheck:
  run: yarn typecheck

Improve README
  README.md
Due: lint-markdown-text

1.1.10
  package.json
Due: none

Minor fixes
  src/commands/createNewFile.ts
  src/utils/Lean/SnippetString.ts
Due: lint-code, typecheck

1.1.11
  package.json
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: lint-markdown-text

Update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Due: lint-markdown-text

Improve sorting in auto-import
  src/commands/autoImport.ts
  src/utils/Lean/Lsp/WorkspaceSymbol.ts
  src/utils/path.ts
Due: lint-code, typecheck

Minor fix
  src/commands/autoImport.ts
Due: lint-code, typecheck

1.1.12
  package.json
Due: none

Implement setArgumentStyle
  README.md
  img/setArgumentStyle.gif
  package.json
  src/commands/CharacterRange.ts
  src/commands/StyleCharacterPair.ts
  src/commands/setArgumentStyle.ts
  src/extension.ts
  src/i18n/Lean/Argument/Style.ts
  src/utils/Lean/Argument/Style.ts
  src/utils/Pair/Character.ts
  src/utils/Range.ts
Due: lint-code, lint-markdown-text, typecheck

Code style fix
  src/utils/Range.ts
Due: lint-code, typecheck

1.1.13
  package.json
Due: none

Improve setArgumentStyle
  README.md
  img/extractDefinitionToSeparateFile.gif
  img/setArgumentStyle.gif
  package.json
  src/commands/StyleCharacterPair.ts
  src/commands/setArgumentStyle.ts
  src/i18n/Lean/Argument/Style.ts
  src/utils/Lean/Argument/Style.ts
Due: lint-code, lint-markdown-text, typecheck

1.1.14
  package.json
Due: none

Fix README
  README.md
Due: lint-markdown-text

1.1.15
  package.json
Due: none

Implement updateImports
  README.md
  img/updateImports.gif
  package.json
  src/commands/autoImport.ts
  src/commands/createNewFile.ts
  src/commands/extractDefinitionToSeparateFile.ts
  src/commands/setArgumentStyle.ts
  src/extension.ts
  src/listeners/onDidRenameFiles.ts
  src/models/Lean/HieroName.ts
  src/models/Lean/HieroNameString.ts
  src/models/Lean/SyntaxNodes.ts
  src/providers/providerRenameEdits.ts
  src/utils/CharacterRange.ts
  src/utils/Lean/StyleCharacterPair.ts
  src/utils/Lean/index.ts
  src/utils/Range.ts
  src/utils/Uri.ts
  src/utils/WorkspaceEdit.ts
  src/utils/vscode/FileRename.ts
Due: lint-code, lint-markdown-text, typecheck

1.1.16
  package.json
Due: none

Update README
  README.md
Due: lint-markdown-text

1.1.17
  package.json
Due: none

Fix onDidRenameFiles
  src/listeners/onDidRenameFiles.ts
  src/utils/Lean.ts
Due: lint-code, typecheck

1.1.18
  package.json
Due: none

Fix onDidRenameFiles
  src/commands/createNewFile.ts
  src/listeners/onDidRenameFiles.ts
  src/utils/Lean/SnippetString.ts
  src/utils/TextEditor.ts
Due: lint-code, typecheck

1.1.19
  package.json
Due: none

Minor fixes
  src/commands/createNewFile.ts
  src/utils/text.ts
Due: lint-code, typecheck

1.1.20
  package.json
Due: none

Improve config handling
  src/extension.ts
Due: lint-code, typecheck

1.1.21
  package.json
Due: none

New command: lean4CodeActions.createNewFileSet
  package.json
  src/commands/createNewFile.ts
  src/commands/createNewFileSet.ts
  src/extension.ts
  src/utils/WorkspaceConfiguration/CreateFileConfig.ts
Due: lint-code, typecheck

1.1.22
  package.json
Due: none

Fix getShortNameFromType to remove the version from the end
  src/extension.ts
Due: lint-code, typecheck

1.1.23
  package.json
Due: none

Minor improvements; new live template
  README.md
  package.json
  src/commands/createNewFile.ts
  src/commands/createNewFileSet.ts
  src/extension.ts
  src/utils/Lean.ts
  src/utils/WorkspaceEdit.ts
  yarn.lock
Due: lint-code, lint-markdown-text, typecheck

1.1.24
  package.json
Due: none

Improve createNewFile
  src/commands/createNewFile.ts
  src/commands/createNewFileSet.ts
  src/constants.ts
  src/listeners/onDidRenameFiles.ts
  src/models/FileBrand.ts
  src/models/FileContentVariety.ts
  src/models/FileInfo.ts
  src/models/FileTag.ts
  src/models/Filename.ts
  src/models/Lean/Name.ts
  src/models/Lean/NonEmptyNames.ts
  src/utils/Lean.ts
  src/utils/TextEditor.ts
  src/utils/Uri.ts
  src/utils/WorkspaceFolder.ts
  src/utils/getRelativeFilePathFromLeanNames.ts
  src/utils/workspace.ts
Due: lint-code, typecheck

1.1.25
  package.json
Due: none

Path conditions:
  lint-code: any of: *.{ts,tsx,js,jsx}
  lint-markdown-text: any of: *.md
  typecheck: any of: *.{ts,tsx}
